{% extends 'base.html' %}

{% load static %}

{% block content %}
    
<body>
{% if companies %}
        <p>
            Below are {{ companies.count }} companies in our database.
        </p>
        <form action="{% url 'company-create' %}" method="get">
            <button type="submit" class="btn">Add company</button>
        </form>
        <p>
            {% include 'companies/company-table.html' %}
        </p>    

{% else %}
        There are no companies yet. Be the first to add one!
{% endif %}
</body>
    
{% endblock %}