{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>

    <p>
        <b>Company details:</b>
    </p>
    
<h2>    
    <p>
        {{ company.name }}
    </p>
</h2>    
    <p>
        Location: {{ company.location }}
    </p>
    <p>
        Business field: {{ company.business_field }}
    </p>
    <p>
        Products:
    </p>
    <p>
        {{ company.products }}
    </p>
</div>
   
{% if user_created_company %} 
    
    <form action="{% url 'company-edit' company.pk %}" method="get">
        <button type="submit" class="btn-company-edit">Edit company</button>
    </form>
    
    <form action="{% url 'company-delete' pk=company.pk %}" method="get">
            <button type="submit" class="btn-company-delete">Delete company</button>
    </form>

{% endif %}    

{% endblock %}