{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <p>
        {{ profile.first_name }} {{ profile.last_name }} 
    </p>
    <p>
        {{ profile.role }}
    </p>
    <form action="{% url 'profile-edit' pk=user.pk %}" method="get">
        <button type="submit" class="btn-profile-edit">Edit profile</button>
    </form>
    <form action="{% url 'profile-delete' pk=user.pk %}" method="get">
        <button type="submit" class="btn-profile-delete">Delete profile</button>
    </form>
</div>
    
<div>
    {% if records %}
        <h3>
            Below are the records you have submitted.
        </h3>
        {% include 'records/record_table.html'  %}
    {% endif %}
</div>    

{% endblock %}