{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    {% if profile.profile_picture %}
        <p>
            <img src="{{ profile.picture_picture }}" alt="no picture available"/>
        </p>
    {% else %}    
        <img src="{% static 'images/profile_picture.png' %}" alt="no picture available" />
    {% endif %}
    <p>
        {{ profile.first_name }} {{ profile.last_name }} 
    </p>
    <p>
        {{ profile.role }}
    </p>
    <form action="{% url 'profile-edit' pk=user.pk %}" method="get">
        <button type="submit" class="btn-profile-edit">Edit Profile</button>
    </form>

</div>

{% endblock %}