{% extends 'base.html' %}

{% block content %}
    <div class="login-register-div">
        <div class="login-register-box">
            
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Register</button>
            </form>
        </div>
        
        <div class="second-option">
            <p>If you already have an account, please <a href="{% url 'login' %}">log in</a></p>
        </div>
    </div>

{% endblock %}