{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <h2>
        <p>
            {{ product.name }}
        </p>
    </h2>
    <p>
        {{ product.description }}
    </p>

    {% if user_created_product %}
        <form action="{% url 'product-edit' pk=product.pk %}" method="get">
            <button type="submit" class="btn-product-edit">Edit product</button>
        </form>
        <form action="{% url 'product-delete' pk=product.pk %}" method="get">
            <button type="submit" class="btn-product-delete">Delete product</button>
        </form>
    {% endif %}
    
    {% if records %}
    <p>
        {{ record_count }} records are available for this product.
    </p>    
    <p>
        {% include 'records/record_table.html' %}
    </p>
    {% else %}    
    <p>
        No records are available for this product yet.
    </p>
    {% endif %}
</div>
    

{% endblock %}