{% extends 'base.html' %}
{% load static %}

{% block nav_extra %}
    <li class="nav-item">
        <a href="{% url 'product-create' %}">
            Add product
        </a>
    </li>
{% endblock %}

{% block content %}
    
<body>
    {% if products %}
        <p>
            Below are the products in our database.
        </p>
        {% for product in products %}
            <p>
                <a href="{% url 'product-details' product.pk %}">
                    {{ product.name }} -- {{ product.record_set.count }} records
                </a>
            </p>
        {% endfor %}
    {% else %}
        <p>
            There are no products yet. Be the first to add one!
        </p>
    {% endif %}
</body>
    
{% endblock %}