{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <p>
        {{ record }}
    </p>
</div>

    {% if user_created_record %}
        <form action="{% url 'record-edit' pk=record.pk %}" method="get">
            <button type="submit" class="btn-record-edit">Edit record</button>
        </form>
        <form action="{% url 'record-delete' pk=record.pk %}" method="get">
            <button type="submit" class="btn-record-delete">Delete record</button>
        </form>
    {% endif %}    
    

{% endblock %}