<table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Region</th>
                    <th>Product type</th>
                    <th>Quantity, metric tons</th>
                    <th>Currency</th>
                    <th>Price per metric ton</th>
                    <th>Transaction type</th>
                </tr>
            </thead>
            {% for record in records %}
                <tr>
                        <td><a href="{% url 'record-details' record.pk %}"><i>{{ record.date|date:'d.m.Y' }}</i></a></td>
                        <td><a href="{% url 'record-details' record.pk %}"><i>{{ record.region }}</i></a></td>
                        <td><a href="{% url 'record-details' record.pk %}"><i>{{ record.product.name }}</i></a></td>
                        <td><a href="{% url 'record-details' record.pk %}"><i>{{ record.quantity }}</i></a></td>
                        <td><a href="{% url 'record-details' record.pk %}"><i>{{ record.currency }}</i></a></td>
                        <td><a href="{% url 'record-details' record.pk %}"><i>{{ record.price }}</i></a></td>
                        <td><a href="{% url 'record-details' record.pk %}"><i>{{ record.type }}</i></a></td>
                </tr>
            {% endfor %}
</table>

{% if is_paginated %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;  first </a>
            <a href="?page={{ page_obj.previous_page_number }}"> previous </a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> next </a>
            <a href="?page={{ page_obj.paginator.num_pages }}"> last  &raquo;</a>
        {% endif %}
    </span>
</div>
    
{% else %}  
    <p>
        Page 1 of 1
    </p>

{% endif %}
