{% extends 'base.html' %}
{% load static %}


{% block nav_extra %}
    <li class="nav-item">
        <a href="{% url 'record-create' %}">
            Add record
        </a>
    </li>
{% endblock %}

{% block content %}
    
<body>
    {% if records %}
        <p>
            Explore {{ records.count }} records available in our database.
        </p>
        {% include 'records/record_table.html' %}
    {% else %}
        <p>
            There are no records yet. Be the first to add one!
        </p>
    {% endif %}



</body>
    
{% endblock %}