{% extends 'base.html' %}
{% load static %}


{% block content %}
    
<body>
    {% if records %}
        <p>
            Explore {{ record_count }} records available in our database.
        </p>
        
        <form action="{% url 'record-create' %}" method="get">
            <button type="submit" class="btn">Add record</button>
        </form>
        
        {% include 'records/record_table.html' %}
    {% else %}
        <p>
            There are no records yet. Be the first to add one!
        </p>
    {% endif %}



</body>
    
{% endblock %}